<!DOCTYPE html>
<html>
  <head align="center">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <title>Black Coffee Records</title>
  </head>
  <style>
  <style>
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
  }

  </style>
</style>
  <body>
    <img src="/blackcoffee.jpg/" width=20% height=9% align="middle">
  <header>

    <h1>  </h1>
  </header>

    <nav>
        <ul class="navigation">
          <li class="button"> <a href="/">      </a><li>
         <li class="button"> <a href="/albums">Albums</a></li>
         <li class="button"> <a href="/albums/new">Add Album</a> </li
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
<ul class="navigation">
