<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <title>Love Music</title>
  </head>
  <body>
  <h1>Love Music Database</h1>
</header>
    <nav>
      <ul>
         <li><a href="/albums">Album List</a></li>
         <li> <a href="/albums/new">Add an Album</a> </li
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
