<form method="post" action="/albums">
  <label for="title">Title</label>
  <input id="title" type="text" name="title" />

  <label for="album-select"> Select an album: </label>
  <select id="album-select" name="titles">
    <option value="morning-glory">Morning Glory </option>
    <option values="spiceworld"> Calzone </option>
  </select>

  <label for="quantity"> Quantity: </label>
  <input type="number" id="quantity" name="quantity" />

  <input type="submit" value="add stock"/>

</form>
